body {
    background-color: #ffffff;
}

h1 {
    color: #ffffff;
    background-color: rgba(219, 39, 39, 0.922);
    /* width: 50%; */
    padding: 10px;
    border-radius: 8px;
    /* text-align: center; */
}

h3 {
    color: #000000;
    text-align: left;
}

#version{
    text-align: end;
    font-size: medium;
}

#mainContainer {
    display: flex;
}

#fileInput {
    color: #000000;
    text-align: center;
}

.button {
    background-color: rgba(191, 22, 22, 0.922);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 8px;
    /* margin-left: auto;
    margin-right: auto; */
    display: block;
}

#buttonsField,#toleranceField, #notesField {
    background-color: #f4f4f4;
    width: 20%;
    padding: 30px;
    border-radius: 8px;
}

.button:hover {
    background-color: #4CAF50;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 8px;
}

td, th, tr {
    border: 1px solid black;
    padding: 8px;
}

#keyIndicator, #docIndicator{
    color: #00ff5e;
    
}

.tolerance-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.tolerance-row input {
    margin-right: 10px;
    width: 50px;
}

#updateToleranceButton {
    margin-top: 10px;
}

#updateToleranceButton {
    margin-top: 10px;
    background-color: #b00ad5;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 150px;
    border-radius: 8px;
    margin-left: auto;
}

#updateToleranceButton:hover {
    background-color: #4CAF50;
    
}